<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/signup.css">
</head>
<body>
  <div class="container" id="container">
    <form action="/signup" method="post" >
        <h1>Sign Up</h1>
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input placeholder="CIN" name="cin" type="text"> 
        <br>
        <input placeholder="Email" name="email" type="email"> 
        <br>
        <input placeholder="Phone Number" name="numTel" type="tel"> 
        <br>
        <input placeholder="Address" name="adresse" type="text"> 
        <br>
        <input placeholder="Date of Birth" name="dateOfBirth" type="date"> 
        <br>
        <input class="sub" type="submit" value="Sign up">
    </form>
  </div>
  <div class="container1" id="container1">
			  	  <h1>One of us?</h1>
				    <p>Welcome back</p>
            <a href="/" class="link-container">
                  <div>
                    Sign in
                  </div>
            </a>
             <img src="/images/icon.png" alt="Description de l'image">
  </div>
     

</body>
</html>